*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  text-decoration: none;
  list-style: none;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.logo{
  background: #000;
  width: 100%;
  display: flex;
  justify-content: center;
}
.graphiclogo{
  max-width: 100%;
  box-sizing: border-box;
}
nav{
  margin: auto;
  width: 800px;
  height: 100px;
}
.topnav{
  background-color: #fff
  font-size: 14px;
  margin-top: 25px;
}
.topnav a{
  color: #000;
  text-align:center;
  padding: 14px 16px;
  font-size: 15px;

}
.topnav a:hover{
  border-bottom: 2px solid #000;
}
.topnav .icon{
  display: none;
}

.mw-100{
  max-width: 100%;
}
.advantages_container{
  display: flex;
  justify-content: center;
}
footer{
  width: 100%;
  height: auto;
  background: #000;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;

  }
  footer a{
    color: white;
    font-size: 14px;
    margin-left: 10px;
  }
  footer nav a:hover{
    border-bottom: 1px solid white;
  }

@media screen and (max-width:768px){
  .topnav a:not(:first-child);
  display:none;{
    .topnav a.icon{
      float: right;
      margin-top: -17px;
      display: block;
      color:black;
      {
        .topnav.responsive
          position: relative;
        }
        .topnav.responsive a.icon
        position: absolute;
        right: 0;
        top: 0;
      }

  }
